*
!.gitignore
!.editorconfig
!.eslintrc.js
!package.json
!.vscode
!.vscode/settings.json
!.vscode/extensions.md
!.bash_profile
!.bashrc
!.bash_include
!.bash_private_example
!.bash_firstinstall
!README.md
